h1{
    font-family: 'Open Sans', sans-serif;
    color:white;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    margin: 0px;
    background-color: #1DB954;
}

body{
    margin: 0px 450px;
    box-shadow: 0px 0px 15px black;
    background-color: rgb(27, 27, 29);
}

#nav_bar{
    background-color: #1DB954;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.nav_btn{
    border-radius: 15px 50px;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 50px;
    text-align: center;
    margin: 0px;
    background-image: linear-gradient(white, white), linear-gradient(#1B1B1D, #1B1B1D);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .3s ease-out;
}

.nav_btn:hover{
    background-size: 100% 5px, auto;
}

main{
    background-color: #1B1B1D;
}

article{
    padding: 5px 65px;
    text-align: left;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

h2{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    background-color: #1B1B1D;
    color: white;
    margin: 0px;
    padding-top: 15px;
    text-align: center;
}

hr{
    width: 80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgb(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
}

#channels{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#get_p1{
    border-radius: 15px;
    border: 0px;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: white;
    background-color: #31a1bd;
    padding: 10px 50px;
    margin: 10px;
    box-shadow: 0 5px white;
    outline: 0px;
}

#get_p1:hover{
    background-color: #31a1bdd2;
}

#get_p1:active {
    box-shadow: 0 3px white;
    transform: translateY(4px);
}

#get_p2{
    border-radius: 15px;
    border: 0px;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: white;
    background-color: #ff5a00;
    padding: 10px 50px;
    margin: 10px;
    box-shadow: 0 5px white;
    outline: 0px;
}

#get_p2:hover{
    background-color: #ff5900d2;
}

#get_p2:active {
    box-shadow: 0 3px white;
    transform: translateY(4px);
}

#get_p3{
    border-radius: 15px;
    border: 0px;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: white;
    background-color: #19a972;
    padding: 10px 50px;
    margin: 10px;
    box-shadow: 0 5px white;
    outline: 0px;
}

#get_p3:hover{
    background-color: #19a972d2;
}

#get_p3:active {
    box-shadow: 0 3px white;
    transform: translateY(4px);
}

#get_p4{
    border-radius: 15px;
    border: 0px;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: white;
    background-color: #c31eaa;
    padding: 10px 50px;
    margin: 10px;
    box-shadow: 0 5px white;
    outline: 0px;
}

#get_p4:hover{
    background-color: #c31eaad2;
}

#get_p4:active {
    box-shadow: 0 3px white;
    transform: translateY(4px);
}

#sr_data{
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#spotify_title{
    margin-top: 10px;
    padding: 0px;
    color: #1DB954;
}

#spotify_line{
    width: 80%;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(29, 185, 84, 0.089), #1DB954, rgba(29, 185, 84, 0.089));
}

#spotify_access{
    text-align: center;
    margin: 30px;
}

#spotify_login{
    text-align: center;
    border-radius: 15px;
    border: 0px;
    background-color: #1DB954;
    box-shadow: 0 5px white;
    outline: 0px;
}

#spotify_login > a{
    text-decoration: none;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: white;
    padding: 10px 30px;
    display: inline-block;
}

#spotify_login:hover{
    background-color: rgba(29, 185, 84, 0.822);
}

#spotify_login:active {
    box-shadow: 0 3px white;
    transform: translateY(4px);
}

#spotify_box{
    background-color: black;
    padding: 300px;
    margin: 30px 80px;
    box-shadow: 0px 0px 20px black;
}

.media{
    text-align: center;
    margin: 0px;
}

.social_media{
    text-decoration: none;
    list-style: none;
    margin: 0px;
    text-align: center;
    display: inline-block;
    font-size: 30px;
    padding: 10px 10px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    transition: 1s;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 20px black;
}

.social_media:hover{
    color: #1DB954;
    border: 1px solid #1DB954;
    transition: all 0.8s;
    box-shadow: 0px 0px 20px #1DB954;
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 20px;
    text-align: center;
}

#footer_text{
    font-family: 'Roboto Condensed', sans-serif;
    margin: 0px;
}


@media screen and (max-width:1664px){
    body{
        margin-left: 350px;
        margin-right: 350px;
    }
    #spotify_box{
        padding: 200px;
        margin: 30px 50px;
        width: auto;
    }
}

@media screen and (max-width:1360px){
    body{
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width:539px){
    #nav_bar{
        padding: 10px;
        text-align: center;
    }
    .nav_btn{
        display: block;
        padding: 10px 30px;
        margin: 5px;
    }
    #spotify_box{
        padding: 200px;
        margin: 30px 0px;
    }
}

@media screen and (max-width:375px){
    h1{
        font-size: 30px;
    }
    #spotify_box{
        padding: 100px;
        margin: 30px 0px;
    }
}