h1{
    font-family: 'Open Sans', sans-serif;
    color:white;
    text-align: center;
    font-size: 50px;
    padding: 20px;
    margin: 0px;
    background-color: #1DB954;
}

body{
    margin: 0px 450px;
    box-shadow: 0px 0px 15px black;
    background-color: rgb(27, 27, 29);
}

#nav_bar{
    background-color: #1DB954;
    padding: 20px;
    font-size: 20px;
    text-align: center;
}

.nav_btn{
    border-radius: 15px 50px;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    text-decoration: none;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 10px 50px;
    text-align: center;
    margin: 0px;
    background-image: linear-gradient(white, white), linear-gradient(#1B1B1D, #1B1B1D);
    background-size: 0 5px, auto;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: all .3s ease-out;
}

.nav_btn:hover{
    background-size: 100% 5px, auto;
}

main{
    background-color: #1B1B1D;
}

article{
    padding: 3px 70px;
    text-align: left;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

article > p{
    padding: 10px;
    margin: 0px;
}

h2{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    background-color: #1B1B1D;
    color: white;
    margin: 0px;
    padding-top: 15px;
    text-align: center;
}

hr{
    width: 80%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
}

#sr_title{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    background-color: #1B1B1D;
    color: white;
    margin: 0px;
    padding-top: 15px;
    text-align: center;
}

#sr_line{
    width: 80%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgb(255, 255, 255), rgba(0, 0, 0, 0));
}

#channels{
    margin: 0px;
    padding: 0px;
    text-align: center;
}

#get_p1{
    border-radius: 15px;
    border: 0px;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: white;
    background-color: #31a1bd;
    padding: 10px 50px;
    margin: 10px;
    box-shadow: 0 5px white;
    outline: 0px;
}

#get_p1:hover{
    background-color: #31a1bdd2;
}

#get_p1:active {
    box-shadow: 0 3px white;
    transform: translateY(4px);
}

#get_p2{
    border-radius: 15px;
    border: 0px;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: white;
    background-color: #ff5a00;
    padding: 10px 50px;
    margin: 10px;
    box-shadow: 0 5px white;
    outline: 0px;
}

#get_p2:hover{
    background-color: #ff5900d2;
}

#get_p2:active {
    box-shadow: 0 3px white;
    transform: translateY(4px);
}

#get_p3{
    border-radius: 15px;
    border: 0px;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: white;
    background-color: #19a972;
    padding: 10px 50px;
    margin: 10px;
    box-shadow: 0 5px white;
    outline: 0px;
}

#get_p3:hover{
    background-color: #19a972d2;
}

#get_p3:active {
    box-shadow: 0 3px white;
    transform: translateY(4px);
}

#get_p4{
    border-radius: 15px;
    border: 0px;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: white;
    background-color: #c31eaa;
    padding: 10px 50px;
    margin: 10px;
    box-shadow: 0 5px white;
    outline: 0px;
}

#get_p4:hover{
    background-color: #c31eaad2;
}

#get_p4:active {
    box-shadow: 0 3px white;
    transform: translateY(4px);
}

#sr_data{
    margin: 15px;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

#spotify_title{
    margin-top: 10px;
    padding: 0px;
    color: #1DB954;
}

#spotify_line{
    width: 80%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(29, 185, 84, 0.089), #1DB954, rgba(29, 185, 84, 0.089));
}

#spotify_access{
    text-align: center;
    margin: 30px;
}

#spotify_login{
    text-align: center;
    border-radius: 15px;
    border: 0px;
    background-color: #1DB954;
    box-shadow: 0 5px white;
    outline: 0px;
}

#spotify_login > a{
    text-decoration: none;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: white;
    padding: 10px 30px;
    display: inline-block;
}

#spotify_login:hover{
    background-color: rgba(29, 185, 84, 0.822);
}

#spotify_login:active {
    box-shadow: 0 3px white;
    transform: translateY(4px);
}

#spotify_box{
    background-color: black;
    padding: 30px;
    margin: 30px 80px 30px 80px;
    box-shadow: 0px 0px 20px black;
    text-align: center;
    border-radius: 20px;
}

#get_session_id{
    border-radius: 15px;
    border: 0px;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: white;
    background-color: #1DB954;
    padding: 10px 50px;
    margin: 10px;
    box-shadow: 0 5px white;
    outline: 0px;
    text-align: center;
}

#get_session_id:hover{
    background-color: rgba(29, 185, 84, 0.822);
}

#get_session_id:active {
    box-shadow: 0 3px white;
    transform: translateY(4px);
}

.my_session_id{
    font-family: 'Merriweather', serif;
    color: white;
    text-align: left;
}

#get_playlist{
    border-radius: 15px;
    border: 0px;
    font-family: 'Merriweather', serif;
    font-size: 15px;
    color: white;
    background-color: #1DB954;
    padding: 10px 50px;
    margin: 10px;
    box-shadow: 0 5px white;
    outline: 0px;
    text-align: center;
}

#get_playlist:hover{
    background-color: rgba(29, 185, 84, 0.822);
}

#get_playlist:active {
    box-shadow: 0 3px white;
    transform: translateY(4px);
}

.my_playlist_1{
    font-family: 'Merriweather', serif;
    color: white;
    text-align: left;
}

.my_playlist_id_1{
    font-family: 'Merriweather', serif;
    color: #1DB954;
    text-align: left;
}

.my_playlist_2{
    font-family: 'Merriweather', serif;
    color: white;
    text-align: left;
}

.my_playlist_id_2{
    font-family: 'Merriweather', serif;
    color: #1DB954;
    text-align: left;
}

.my_playlist_3{
    font-family: 'Merriweather', serif;
    color: white;
    text-align: left;
}

.my_playlist_id_3{
    font-family: 'Merriweather', serif;
    color: #1DB954;
    text-align: left;
}

.my_playlist_4{
    font-family: 'Merriweather', serif;
    color: white;
    text-align: left;
}

.my_playlist_id_4{
    font-family: 'Merriweather', serif;
    color: #1DB954;
    text-align: left;
}

.my_playlist_5{
    font-family: 'Merriweather', serif;
    color: white;
    text-align: left;
}

.my_playlist_id_5{
    font-family: 'Merriweather', serif;
    color: #1DB954;
    text-align: left;
}

.my_playlist_6{
    font-family: 'Merriweather', serif;
    color: white;
    text-align: left;
}

.my_playlist_id_6{
    font-family: 'Merriweather', serif;
    color: #1DB954;
    text-align: left;
}

.my_playlist_7{
    font-family: 'Merriweather', serif;
    color: white;
    text-align: left;
}

.my_playlist_id_7{
    font-family: 'Merriweather', serif;
    color: #1DB954;
    text-align: left;
}

.my_playlist_8{
    font-family: 'Merriweather', serif;
    color: white;
    text-align: left;
}

.my_playlist_id_8{
    font-family: 'Merriweather', serif;
    color: #1DB954;
    text-align: left;
}

.my_playlist_9{
    font-family: 'Merriweather', serif;
    color: white;
    text-align: left;
}

.my_playlist_id_9{
    font-family: 'Merriweather', serif;
    color: #1DB954;
    text-align: left;
}

.my_playlist_10{
    font-family: 'Merriweather', serif;
    color: white;
    text-align: left;
}

.my_playlist_id_10{
    font-family: 'Merriweather', serif;
    color: #1DB954;
    text-align: left;
}


#add_song_box{
    text-align: center;
    padding: 20px;
    margin: 20px;
}

#session_id_my_input{
    width: 200px;
    font-size: 16px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    outline: none;
    font-family: 'Merriweather', serif;
    border-color: #1DB954;
    box-shadow: 0px 0px 25px black;
    transition: 0.5s all;
    color: white;
    background-color: rgb(27, 27, 29);
    margin: 5px;
}

#playlist_id_my_input{
    width: 200px;
    font-size: 16px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    outline: none;
    font-family: 'Merriweather', serif;
    border-color: #1DB954;
    box-shadow: 0px 0px 25px black;
    transition: 0.5s all;
    color: white;
    background-color: rgb(27, 27, 29);
    margin: 5px;
}

#song_uri_my_input{
    width: 200px;
    font-size: 16px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    outline: none;
    font-family: 'Merriweather', serif;
    border-color: #1DB954;
    box-shadow: 0px 0px 25px black;
    transition: 0.5s all;
    color: white;
    background-color: rgb(27, 27, 29);
    margin: 5px;
}

#cl_title{
    font-family: 'Merriweather', serif;
    font-size: 30px;
    background-color: #1B1B1D;
    color: crimson;
    margin: 0px;
    text-align: center;
    padding: 0px;
}

#cl_line{
    width: 80%;
    border: 0;
    height: 2px;
    background-image: linear-gradient(to right, rgba(220, 20, 60, 0.11), #dc143c, rgba(220, 20, 60, 0.11));
}

#chartlyrics{
    margin: 30px 80px;
    text-align: center;
}

#artist_my_input{
    width: 200px;
    font-size: 16px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    outline: none;
    font-family: 'Merriweather', serif;
    border-color: #dc143c;
    box-shadow: 0px 0px 25px black;
    transition: 0.5s all;
    color: white;
    background-color: black;
}

#artist_my_input:focus{
    width: 300px;
}
#song_my_input{
    width: 200px;
    font-size: 16px;
    padding-left: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 20px;
    margin-left: 5px;
    margin-right: 5px;
    outline: none;
    font-family: 'Merriweather', serif;
    border-color: #dc143c;
    box-shadow: 0px 0px 25px black;
    transition: 0.5s all;
    color: white;
    background-color: black;
}

#song_my_input:focus{
    width: 300px;
}

#search{
    font-size: 16px;
    padding: 10px;
    border-radius: 20px;
    outline: none;
    font-family: 'Merriweather', serif;
    border-color: #dc143c;
    box-shadow: 0px 0px 15px black;
    transition: all 0.5s;
}

#search:hover{
    font-family: 'Merriweather', serif;
    color: white;
    background-color: black;
}

#cl_box{
    background-color: black;
    padding: 30px;
    margin: 0px 40px;
    box-shadow: 0px 0px 20px black;
    text-align: center;
    color: white;
    border-radius: 20px;
}

.lyrics{
    color: white;
    font-family: 'Merriweather', serif;
}

.media{
    margin: 0px;
    text-align: right;
}

.social_media{
    text-decoration: none;
    list-style: none;
    margin: 0px;
    text-align: center;
    font-size: 20px;
    padding: 10px 10px;
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    transition: 1s;
    overflow: hidden;
    position: relative;
    box-shadow: 0px 0px 20px black;
}

.social_media:hover{
    color: #1DB954;
    border: 1px solid #1DB954;
    transition: all 0.8s;
    box-shadow: 0px 0px 20px #1DB954;
}

footer{
    background-color: black;
    color: white;
    padding: 30px;
    margin-top: 20px;
}

#footer_text{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
    float: left;
    font-size: 20px;
}

@media screen and (max-width:1664px){
    body{
        margin-left: 350px;
        margin-right: 350px;
    }
    #spotify_box{
        margin: 30px 50px 30px 50px;
        width: auto;
    }
}

@media screen and (max-width:1360px){
    body{
        margin-left: 0px;
        margin-right: 0px;
    }
}

@media screen and (max-width:578px){
    #get_p1{
        margin: 7px;

    }
    #get_p2{
        margin: 7px;

    }
    #get_p3{
        margin: 7px;

    }
    #get_p4{
        margin: 7px;

    }
}

@media screen and (max-width:539px){
    #nav_bar{
        padding: 10px;
        text-align: center;
    }
    .nav_btn{
        display: block;
        padding: 10px 30px;
        margin: 5px;
    }
    #spotify_box{
        margin: 30px 0px;
    }
    #chartlyrics{
        margin: 50px 30px
    }
    #my_input:focus{
        width: 300px;
    }
}

@media screen and (max-width:375px){
    h1{
        font-size: 30px;
    }
    #spotify_box{
        margin: 30px 0px;
    }
    #chartlyrics{
        margin: 20px 30px;
    }
    #my_input:focus{
        width: 200px;
    }
}

@media screen and (max-width:335px){
    #search{
        margin-top: 10px;
    }
}